.Body {
    margin: 50px;
}

.form-wrapper {
	border-color: #dedede #bababa #aaa #bababa;
	border-style: none;
	border-width: 1px;
    margin: 100px auto;
	overflow: hidden;
	padding: 8px;
    width: 100%;
    min-width: 550px;
    max-width: 750px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.form-wrapper #search {
    border: 0px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    color: #999;
	float: left;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 100%;
	padding: 12px;
	width: calc(100% - 100px);
}

.form-wrapper #search:focus {
	outline: 0;
}

.form-wrapper #search:-moz-placeholder,
.form-wrapper #search:-ms-input-placeholder,
.form-wrapper #search::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
}

.form-wrapper #submit {
	background-color: #808080;
	border: 1px solid #606060;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	color: #fafafa;
	cursor: pointer;
	height: 42px;
	float: right;
	font: 15px Arial, Helvetica;
	padding: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
    width: 100px;
    outline: 0;
}

.form-wrapper #submit:hover,
.form-wrapper #submit:focus {
	background-color: #A9A9A9;
}

.form-wrapper #submit:active {
	outline: 0;
}

.form-wrapper #submit::-moz-focus-inner {
	border: 0;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}